<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- GOOGLE FONTS: POPPINS -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">

    <!-- OWL CAROUSEL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- APP CSS -->
    <link rel="stylesheet" href="/grid.css">
    <link rel="stylesheet" href="/app.css">
</head>
<body>

 <!-- NAV -->
 <div class="nav-wrapper">
    <div class="container">
        <div class="nav">
            <a href="#" class="logo">
            </a>
            <ul class="nav-menu" id="nav-menu">
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/now-playing">Now Playing</a></li>  <!-- List of currently running movies -->
                <li><a href="/theaters">Theatres</a></li> 
                <li><a href="#">Buy Tickets</a></li> 
                <li><a href="/admin">ADMIN</a></li>
                <li>
                    <a href="#" class="btn btn-hover buy-ticket-btn">
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
            <!-- MOBILE MENU TOGGLE -->
            <div class="hamburger-menu" id="hamburger-menu">
                <div class="hamburger"></div>
            </div>
        </div>
    </div>
</div>
<!-- END NAV -->

  <!-- Now Playing Section -->
  <div class="now-playing-section">
    <div class="container">
      <h1 class="now-playing-header">Now Playing</h1>
      <div class="now-playing-movies-grid">
        <% movies.forEach(movie => { %>
          <div class="now-playing-movie-item">
            <img src="<%= movie.image_path %>" alt="<%= movie.title %> Poster" class="now-playing-movie-poster">
            <div class="now-playing-movie-content">
              <h2 class="now-playing-movie-title"><%= movie.title %></h2>
              <p class="now-playing-movie-genre"><%= movie.genre %></p>
              <button class="now-playing-btn view-details-btn">View Details</button>
              <button class="now-playing-btn buy-ticket-btn">Buy Ticket</button>
            </div>
          </div>
        <% }) %>
      </div>      
    </div>
  </div>
  <!-- End Now Playing Section -->

   <!-- FOOTER SECTION -->
   <footer class="section">
    <div class="container">
        <div class="row">
            <div class="col-4 col-md-6 col-sm-12">
                <div class="content">
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut veniam ex quos hic id nobis beatae earum sapiente! Quod ipsa exercitationem officiis non error illum minima iusto et. Dolores, quibusdam?
                    </p>
                    <div class="social-list">
                        <a href="#" class="social-item">
                            <i class="bx bxl-facebook"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-twitter"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-8 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            <p><b>Flix</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Pricing plans</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            <p><b>Browse</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Pricing plans</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            <p><b>Help</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Pricing plans</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            <p><b>Download app</b></p>
                            <ul class="footer-menu">
                                <li>
                                    <a href="#">
                                        <img src="./images/google-play.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="./images/app-store.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER SECTION -->

<!-- COPYRIGHT SECTION -->
<div class="copyright">
    Copyright 2024 <a href="https://www.youtube.com/channel/UCnNgtK4tGlWcceXVzoyTg8Q" target="_blank">
        Furstin Nabhyla Yasmin</a>
</div>
<!-- END COPYRIGHT SECTION -->

</body>
</html>
